/* reset browser style */
*{
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    outline: none;
    border: none;
}

/* body */
html{
    font-size: 16px;
}

body{ 
    margin: 0;
    padding: 0;
}