$primary-color: #e2574c; //used in button and text too
$font-color: #3c3c3c;
$header-hover-color: #f2f2f2;
$offer-bkground-color: #fbfbfb;
$feature-bkground-color: #f6f6f6;
$moreaboutus-bkground-color: #f3f2f2;
$footer-bkground-color: #303030;
$white-color: #ffffff;
$footer-hover-color: #797979;
$agent-slicker-dot-outline: #acb1bc;

/* Media queries break points */
$sm-break-point: 576px;
$md-break-point: 768px;
$lg-break-point: 992px;
$xl-break-point: 1200px;
$xxl-break-point: 1400px;


/* Container width for different view port */
$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1140px;
$container-xxl: 1320px;