.client-section{
    padding: 3rem 0;
    .row{
        .col-4{
            p{
                text-align: left;
                font-size: 1.8rem;
                span{
                    font-weight: bold;
                }
            }
        }

        .carousel-inner{
            .carousel-item{
                .col-2{
                    img{
                        width: 135px;
                        height: 30px;
                    }
                }
            }
        }
    }
}
