.property{
    .image{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 250px;
    }
    h2{
        margin: 0;
    }
    p{
        margin: 0;
    }
}
// .property-section {
//     padding: 4rem 0;
//     margin: 0;
//     background-color: $feature-bkground-color;
//     text-align: center;

//     .container {
//         .property-header {
//             h1 {
//                 margin: 0;
//                 font-size: 2.5rem;
//                 padding-bottom: 1rem;
//             }
//             p {
//                 font-size: 1rem;
//                 padding: 0 18rem;
//                 padding-top: 1rem;
//                 padding-bottom: 2rem;
//                 opacity: 0.8;
//             }
//         }

//         .row {
//             .col-4 {
//                 background-color: $white-color;
//                 text-align: center;

//                 .image {
//                     background-repeat: no-repeat;
//                     background-size: cover;
//                     background-position: center;
//                     height: 250px;
//                 }
//                 h2 {
//                     font-size: 1.4rem;
//                     font-weight: bold;
//                     margin-top: 1rem;
//                 }
//                 p {
//                     font-size: 0.9rem;
//                     opacity: 0.8;
//                 }
//                 span {
//                     font-weight: bold;
//                     color: $primary-color;
//                 }
//                 .p-details {
//                     margin: 0;
//                     padding: 0.6rem 0;
//                     border-top-style: solid;
//                     border-top-width: 0.18rem;
//                     border-top-color: $feature-bkground-color;

//                     i {
//                         font-weight: 600;
//                         font-size: 0.4rem;
//                         opacity: 0.3;
//                         padding-right: 0.5rem;
//                     }
//                 }
//             }
//         }
//         .primary-button{
//             margin-top: 3rem;
//             margin-bottom: 5rem;
//         }
//     }
// }
