footer {
    padding: 3rem 0;
    background-color: $footer-bkground-color;
    .row {
        .col-md-3 {
            text-align: left;
            padding: 0;

            .social-logo {
                ul {
                    padding: 0;
                    margin: 0;
                    margin: 1.5rem 0;
                    a {
                        width: 32px;
                        height: 32px;
                        background: $white-color;
                        color: $footer-bkground-color;
                        text-decoration: none;
                        border-radius: 50%;
                        border: 2px solid $header-hover-color;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 0.6rem;

                        &:hover {
                            color: $white-color;
                            background-color: $footer-hover-color;
                            border: 2px solid $footer-hover-color;
                        }
                    }
                }
            }
            h1 {
                margin: 0;
                font-size: 1.4rem;
                color: $white-color;
                margin-bottom: 1rem;
            }
            ul {
                padding: 0;
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: $white-color;
                        font-size: 0.85rem;
                        line-height: 1.7;
                         
                        &:hover {
                            color: #acb1bc;
                            padding-left: 10px;
                        }
                        span {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}
