
.call-in-action{
    padding: 3rem 0;
    background-color: $moreaboutus-bkground-color;
    
    .row{
        .col-9{
            p{
                margin: 0;
                text-align: left;
                font-size: 2rem;
                span{
                    font-weight: bold;
                }
            }
        }
        .col-3{
            .primary-button{
                font-size: 1rem;
                padding: 0.7rem 1.2rem;
            }
        }
    }
}
