.offer-section{
    background-color: $offer-bkground-color;
    .offer-wrapper{
        padding: 1rem 0;
        .offer{
            text-align: center;
            padding: 2rem 0;

            &:hover{
                background-color: $header-hover-color;
            }
            i{
                font-size: 1.4rem;
                padding-bottom: 0.8rem;
                opacity: 0.8;
            }
            h2{
                margin: 0;
                font-size: 1rem;
                padding-bottom: 0.5rem;
            }
            p{
                margin: 0;
                font-size: 0.7rem;
                padding: 0 2.3rem;
                line-height: 1.1rem;
                opacity: 0.9;
            }
        }
    }
}

@include media("sm") {
    .offer-section{
        .offer-wrapper{
            .offer{
                i{
                    padding-bottom: 1rem;
                }
                p{
                    padding: 0 6rem;
                }
            }
        }
    }
}
@include media("md"){
    .offer-section{
        .offer-wrapper{
            padding: 1.8rem 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .offer{
                i{
                    font-size: 1.2rem;
                }
                h2{
                    font-size: 0.8rem;
                }
                p{
                    padding: 0 0.9rem;
                }
            }
        }
    }
}
@include media("xl"){
    .offer-section{
        .offer-wrapper{
            padding: 2.5rem 0;
            .offer{
                i{
                    font-size: 1.4rem;
                }
                h2{
                    font-size: 1rem;
                }
                p{
                    padding: 0 2.1rem;
                }
            }
        }
    }
}
@include media("xxl"){
    .offer-section{
        .offer-wrapper{
            padding: 2.8rem 0;
            .offer{
                h2{
                    font-size: 1rem;
                    padding-bottom: 0.8rem;
                }
                p{
                    padding: 0 3.5rem;
                }
            }
        }
    }
}
// /* Offer Styling */

// .offer-section{
//     background: #fafafa;
// }

// .offer-wrapper{
//     text-align: center;
//     padding: 20px 0;
// }

// .offer-wrapper .offer{
//     display: inline-block;
//     width: calc(100% / 4);
//     margin: 0 -2px;
//     padding: 80px 18px;
//     box-sizing: border-box;
//     cursor: pointer;
//     transition: 0.4 s;
// }

// .offer:hover{
//     background: #fff;
// }

// .offer i{
//     color: #3c3c3c;
//     font-size: 28px;
//     margin-bottom: 24px;
// }

// .offer h2{
//     font-family: 'Roboto' sans-serif;
//     font-size: 20px;
//     margin: 0;
// }

// .offer p{
//     color: gray;
//     font-size: 14px;
//     font-weight: 500;
//     line-height: 24px;
// }