/* Our Agent Style */

.agent-section {
    /* Agent slider section */
    .slick-dots {
        left: 34%;
        top: 57%;

        li {
            width: 0.7rem;
            height: 0.7rem;
            border-radius: 50%;
            border: 2px solid #acb1bc;

            button::before {
                display: none;
            }

            .slick-active {
                background-color: $primary-color;
                border: 2px solid $primary-color;
            }
        }
    }

    .agent {
        .agent-content {
            .agent-img {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .agent-content {
            .agent-details {
                h1 {
                    margin: 0;
                    font-size: 1.5rem;
                    padding-top: 1.5rem;
                }
                h2 {
                    margin: 0;
                    font-size: 1rem;
                    padding: 0.8rem 0;
                }
                p {
                    margin: 0;
                    font-size: 0.7rem;
                    line-height: 1.5;
                    opacity: 0.8;
                }
                .contact-detail {
                    display: flex;
                    align-items: center;

                    a {
                        padding-top: 1rem;
                        padding-bottom: 2rem;
                        font-size: 0.6rem;
                        color: $font-color;
                        display: flex;
                        align-items: center;

                        i {
                            margin-right: 0.5rem;
                        }
                    }

                    .telephone {
                        margin-right: 1.5rem;
                    }
                    .mail {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

@include media("sm") {
    .agent-section {
        /* Agent slider section */
        .slick-dots {
            left: 25%;
            top: 63%;
        }

        .slick-dots li {
            width: 0.7rem;
            height: 0.7rem;
            border-radius: 50%;
            border: 2px solid #acb1bc;
        }
        .slick-dots li button::before {
            display: none;
        }

        .slick-dots li.slick-active {
            background-color: $primary-color;
            border: 2px solid $primary-color;
        }

        .agent {
            .agent-content {
                .agent-img {
                    text-align: center;

                    img {
                        width: 60%;
                        height: 50%;
                    }
                }
            }
            .agent-content {
                .agent-details {
                    h1 {
                        font-size: 1.6rem;
                    }
                    h2 {
                        font-size: 1.1rem;
                    }
                    p {
                        line-height: 1.6;
                    }
                }
            }
        }
    }
}
@include media("md") {
    .agent-section {
        height: auto;

        .slick-dots {
            left: 70%;
            top: 17%;
        }
        .agent {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            .agent-content {
                width: 50%;

                .agent-img {
                    text-align: left;
                    img {
                        width: 80%;
                        padding-top: 2rem;
                    }
                }
            }

            .agent-content {
                width: 50%;

                .agent-details {
                    padding: 3rem 0;

                    h1{
                        font-size: 2rem;
                    }
                    h2{
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}
@include media("lg") {
    .agent-section{
        .slick-dots {
            left: 70%;
            top: 19%;
        }

        .agent{
            .agent-content {
                .agent-img {
                    img {
                        width: 70%;
                    }
                }
            }
            .agent-content{
                .agent-details{
                    padding-top: 4rem;

                    h1{
                        font-size: 2.4rem;
                        padding-bottom: 0.8rem;
                    }
                    .hr-line{
                        width: 5.5rem;
                    }
                    h2{
                        padding: 1.2rem 0;
                        font-size: 1.4rem;
                    }
                    p{
                        font-size: 0.8rem;
                    }
                    .contact-detail{
                        a{
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}
@include media("xl") {
    .agent-section{
        .slick-dots {
            left: 65%;
            top: 22%;
        }
        .slick-dots li {
            width: 0.8rem;
            height: 0.8rem;
        }

        .agent{
            .agent-content{
                .agent-details{
                    margin: 0;
                    padding-top: 6rem;
                    .hr-line{
                        height: 0.14rem;
                    }
                    h2{
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}
@include media("xxl") {
    .agent-section{
        .slick-dots {
            left: 65%;
            top: 22%;
        }

        .agent{
            .agent-content {
                .agent-img {
                    text-align: center;
                    img {
                        width: 60%;
                    }
                }
            }
            .agent-content{
                .agent-details{
                    h1{
                        font-size: 2.5rem;
                    }
                    .hr-line{
                        width: 6rem;
                    }
                    h2{
                        font-size: 1.5rem;
                    }
                    p{
                        padding: 0.4rem 0;
                    }
                }
            }
        }
    }
}
// /* .agent-section .slick-dotted.slick-slider{
//     margin-bottom: 0;
// } */

// /* Agent slider section */
// .agent-section .slick-dots {
//     left: 54%;
//     top: 21%;
// }

// .agent-section .slick-dots li{
//     border-radius: 50%;
//     border: 3px solid #acb1bc;
// }
// .agent-section .slick-dots li button::before{
//     display: none;
// }

// .agent-section .slick-dots li.slick-active{
//     background-color: #e2574c;
//     border: 3px solid #e2574c;
// }

// /* for background-color */
// .agent-section{
//     background: #fff;
// }

// /* .agent{
//     margin-bottom: 60px;
// } */

// .agent-section .container .agent .agent-img{
//     display: inline-block;
//     float: left;
//     width: 34%;
//     padding-top: 70px;
// }

// .agent-section .agent-details h1{
//     font-size: 44px;
//     font-family:'Raleway' sans-serif;

// }

// /* Agent description section */
// .agent .agent-details span{
//     height: 3px;
//     width: 110px;
//     background: #e2574c;
//     display: inline-block;
//     margin-bottom: 10px;
// }

// .agent .agent-details{
//     width: 100%;
//     padding: 75px 0;
//     /* padding-bottom: 97px; */
// }

// .agent .agent-details h2{
//     font-size: 24px;
//     font-family:'Playfair Display' sans-serif;

// }

// .agent .agent-details p{
//     font-size: 16px;
//     font-family:'Playfair Display' sans-serif;
//     color: #797979;
//     line-height: 25px;
//     margin-bottom: 25px;
// }

// .agent .agent-details .contact-detail i{
//     color: #797979;
//     margin-right: 10px;
// }

// .agent .agent-details .contact-detail .telephone{
//     color: #3c3c3c;
//     margin-right: 30px;
//     line-height: bold;
// }

// .agent .agent-details .contact-detail .telephone {
//     margin-right: 15px;
// }

// .agent .agent-details .contact-detail .mail{
//     color: #e2574c;
//     margin-right: 30px;
//     line-height: bold;
// }

// .agent .agent-details .contact-detail .mail i{
//     margin-right: 15px;

// }
